*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size : 62.5%;
}
body{
    background-color: black
}
.main-container{
    padding: 4rem 2rem;
}
.heading{
    font-size: 3rem;
    margin: 1rem auto;
    color: white;
}
.btn{ 
    padding: 1.2rem;
    text-align: center;
    border: 1.5px solid yellow;
    border-radius: 1.4rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 1.4rem;
    -ms-border-radius: 1.4rem;
    -o-border-radius: 1.4rem;
    margin-right: 2rem;
    background-color: yellow;
    &.btn:hover{
        background-color: transparent;
        color: yellow;
    }
}
